*{
    box-sizing: border-box;
}

body{ 
    display: flex;/* Using grid here to set up the grid in js*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title,
.header,
.footer{
    border: 2px solid red ;
    margin: 1em;
}

.grid_container{
    width: 500px;
    height: 500px;
    border: 4px solid black ;
   /* background-color: aquamarine;*/

   display: grid; /* To use CSS GRID in JS file */
}

.footer{
    width: 600px;
    
    display: flex; 
    justify-content: space-evenly;  
}